.tempNow {
  display: flex;
  color: #fefefe;
  font-family: Helvetica, sans-serif;
}

.description {
  font-size: 1em;
  margin: 3rem 0 0 0;
  letter-spacing: 0.1em;
  display: inline-block;
  vertical-align: middle;
}

.imageContainer>img {
  margin: 0;
  padding: 0;
  height: 8rem;
  display: inline-block;
  vertical-align: middle;
}
